<main class="container mx-auto px-56 pt-5">
    <a href="/calculations/new" class="text-white bg-primary-300 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Novo</a>

   <div class="list mt-5 rounded-lg">
        <div class="bg-white py-5 px-10">
            a
        </div>
   </div>

    <script type="module">
        import { isLoggedUser } from '/js/utils/auth.js';

        window.addEventListener('DOMContentLoaded', () => {
            if (!isLoggedUser()) {
                window.location.href = '/'; // Redireciona se o usuário já estiver logado
            }
        });
    </script>
</main>
