<main>
    <!-- Seção de Apresentação -->
    <section id="home" class="bg-white py-32 flex items-center justify-center">
        <div class="container mx-auto text-center">
            <h2 class="text-5xl font-bold mb-4">Maps DC</h2>
            <p class="text-xl mb-8">Com o Maps Distance Calculator, você pode estimar seus custos de viagem de forma rápida e fácil!</p>
            <a href="#download" class="rounded-lg bg-primary-300 text-white px-8 py-4 shadow-lg hover:bg-primary-400 transition">Baixar Agora</a>
        </div>
    </section>

    <!-- Seção de Mapa -->
    <section class="py-20">
        <div class="container mx-auto text-center">
            <h2 class="text-4xl font-bold mb-6">Visualize Seu Roteiro</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.118991274836!2d-122.42105168468097!3d37.77492927975904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809c8c9824b3%3A0xf9ed0c31ed682024!2sSan%20Francisco%2C%20CA%2094102%2C%20EUA!5e0!3m2!1spt-BR!2sbr!4v1647461059604!5m2!1spt-BR!2sbr"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <p class="mt-4 text-lg">Veja e planeje suas rotas com facilidade usando o Google Maps.</p>
        </div>
    </section>

    <!-- Seção de Recursos -->
    <section id="features" class="py-20 bg-white flex items-center justify-center">
        <div class="container mx-auto text-center">
            <h2 class="text-4xl font-bold mb-10">Recursos Principais</h2>
            <div class="flex justify-center grid-cols-1 md:grid-cols-3 gap-10">
                <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105">
                    <h3 class="text-xl font-semibold mb-3">Cálculo de Distância</h3>
                    <p>Calcule a distância entre dois pontos com precisão e facilidade.</p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105">
                    <h3 class="text-xl font-semibold mb-3">Estimativa de Combustível</h3>
                    <p>Obtenha uma estimativa de quanto você gastará em combustível para sua viagem.</p>
                </div>
            </div>
        </div>
    </section>
</main>