<main>
    <!-- Seção de Apresentação -->
    <section id="home" class="py-32 flex items-center justify-center">
        <div class="container mx-auto text-center">
            <h2 class="text-5xl font-bold mb-4">404</h2>
            <p class="text-xl mb-8">Página não encontrada</p>
            <a href="/" class="rounded-lg bg-primary-300 text-white px-8 py-4 shadow-lg hover:bg-primary-400 transition">Home</a>
        </div>
    </section>
</main>