<header class="bg-primary-300 text-white w-full z-10">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/">
            <div class="flex gap-5">
                    <img src="/img/logo_transparent.png" class="logo-nav" srcset=""> 
                    <h1 class="text-white flex items-center text-2xl font-bold">Maps DC </h1>
            </div>
        </a>
        <nav>
            <ul class="flex space-x-5">
                <li><a href="Login" class="color-white hover:underline">Login</a></li>
            </ul>
        </nav>
    </div>
</header>